/* Style for the playlist component */
.playlist-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.playlist {
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
  }
  
  /* Style for playlist name and description */
  .playlist-info {
    margin-bottom: 10px;
  }
  
  .playlist-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .playlist-description {
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Style for playlist songs */
  .playlist-songs {
    margin-top: 20px;
  }
  
  .playlist-song {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .song-title {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .song-artist {
    font-size: 14px;
    color: #666;
  }
  
  /* Style for playlist options */
  .playlist-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .playlist-option {
    margin-right: 20px;
  }
  
  .playlist-option:last-child {
    margin-right: 0;
  }
  
  .playlist label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .playlist input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .playlist button[type="submit"] {
    background-color: #3f51b5;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .playlist button[type="submit"]:hover {
    background-color: #2c3e50;
  }