* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: black;
}
.song-page {
    background-color: white;
    padding: 50px 20px 20px 20px;
    color: black;
    width: 96%;
    margin: 0 auto 0 auto;
}
.song-page-header button{
    color:white; 
    background-color: rgb(25, 25, 214);
    font-weight: bold;
    margin-right: 20px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 3px;
}
.song-page-header hr {
    clear:both;
    display:block;
    width: 96%;               
    background-color:rgb(25, 25, 214);
    height: 2px;
    margin-top: 10px;
}

.songs-of-week{
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 10px;
}

.song {
    margin-bottom: 5px;
    color: black;
    width: 96%;
    position: relative;
    display: flex;
    align-items: center;
    font-weight:500;
}
.song span {
    margin-left: 40px;
    color: black;
}

.song span:hover {
    /* color: blue; */
    /* border-bottom: 2px solid #0070f3; */
    cursor: pointer;
    text-decoration: none;
}
.song-rating {
    position: absolute;
    right: 30px;
}

.song-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .song-title {
    float: left;
    font-weight: bold;
  }
  
  .song-album {
    font-weight: lighter;
    text-decoration: none;
  }
  .song-album:hover {
    text-decoration: none;
  }